<a href="https://colab.research.google.com/github/HelenaHime/PADSW06MDCD/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('olist_orders_dataset.csv') #faz a leitura de uma planilha, dado o seu caminho
display(df) #exibe os resultados da planilha

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
64961,7f2810de522b451a990407ada69ff9d0,05a4b790359862d814b2f6d69e4e9f9f,delivered,2017-11-23 15:00:28,2017-11-23 15:10:58,2017-11-24 18:22:17,2017-11-30 17:56:42,2017-12-15 00:00:00
64962,92d4e6d2be7474212f889b8d9f3a7673,4028a5f542cb9fe29c4d43fc38ed1e6d,delivered,2018-03-10 18:18:57,2018-03-10 18:35:24,2018-03-13 19:44:30,2018-03-21 23:20:49,2018-04-11 00:00:00
64963,1c03149670e997c92432fe942dfd842e,b5c2240b39a2731614276fcd9e2e5019,delivered,2018-03-25 20:25:28,2018-03-25 20:48:23,2018-03-27 19:08:37,2018-03-29 21:38:52,2018-04-06 00:00:00
64964,f55550ceb7e4387a3fc606d19e6461b5,05486eac340ae6a8f4837c6ab027d5ed,delivered,2018-04-24 19:08:16,2018-04-24 19:29:20,2018-04-25 14:47:00,2018-04-26 21:54:36,2018-05-11 00:00:00
64965,2e43aadcfcd100bf85414cc4a0b6f3af,adedebc7473e858ba05c37a117462f71,delivered,2017-12-07 22:17:58,2017-12-07 23:30:26,2017-12-08 20:38:46,2017-12-13 16:29:04,201